$gray-100: #eee;
$my-light-blue: #6D90F0;
$my-primary-contrast: #FFAC63;
$my-secondary-contrast: #FFE663;
$my-blue: #2857D6;

body {
	color: $my-blue;
	font-family: 'Ubuntu', cursive;
	background-color: $gray-100;
}

a { color:$my-blue; }

.container {
	background-color: white;
	margin: 0 auto;
	padding: 0 30px;
}

.welcome {
	background: url(/assets/images/replication.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;

	.message {
		margin: 50px;
		padding: 25px;
    background-color: rgba(255,255,255,0.5);
		color: $my-blue;
		font-size: 40px;
		line-height: 120%;

		p {
			margin: 20px 0;
		}
	}
}

.header {
	padding-bottom: 20px;

	.navbar-brand {
		color: $my-blue;
		font-family: 'Lobster', cursive;
		font-size: 80px;
		margin-left: 0;
	}

	a:hover {
		color: $my-blue !important;
		text-decoration: none;
	}

	.nav-item, .nav-link {
		padding-right: 20px;
		a {
			color: $my-light-blue !important;
		}
		a:hover {
			color: $my-blue !important;
		}

	}
}

.footer {
	padding: 20px 0;

	p {
		padding: 0;
		margin: 0;
	}
}

.index {
	padding: 20px 20px;

	p{
		line-height: 150%;
		font-size: 20px;
	}

	a {
		color: $my-primary-contrast;
		text-decoration: underline;
	}
	a:hover {
		color: $my-secondary-contrast;
	}

	.blurb {
		font-size: 18px;
		li {
			font-size: 14px;
		}
	}

	.double-column{
		margin-top: 40px;
	}
}


.tutorials {
	color: $my-primary-contrast;
}


.lesson {
	color: black;
	font-size: 1.1em;

	h1, h2, h3, h4, h5 {
		color: $my-blue;
	}

	h2 {
		padding-top: 30px;
	}

	h3 {
		padding-top: 15px;
	}

	tt, code, pre {
	   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
	}

	pre code {
	  display: block;
		padding: 0.5em;
	}

	code {
	  font-size: 92%;
	  border: 1px solid #ccc;
	  background-color: #F8F8F8;
	}

	table, td, th {
	  border: solid black 2px;
		text-align: center;
	}

	table {
		margin: 0 auto;
	}
	td,th {
		padding: 10px;
	}


	blockquote {
	   color:#666666;
	   margin:0;
	   padding-left: 1em;
	   border-left: 0.5em #EEE solid;
	}

	hr {
	   height: 0px;
	   border-bottom: none;
	   border-top-width: thin;
	   border-top-style: dotted;
	   border-top-color: #999999;
	}

	img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}


	input {
		background-color: $my-blue;
		border: 1px solid $my-blue;
		border-radius: 5px;
		color: white;
		padding: 3px 10px;
		margin-bottom: 20px;
	}
}

.honor-roll {
	.card {
		margin-bottom: 20px;
		padding-bottom: 10px;

		h4 {
			padding-left: 10px;
			padding-top: 10px;
			margin-bottom: 0px;
		}
		ul {
			padding-left: 10px;

			li {
				list-style: none;
			}
		}

	}
}

.fa-youtube {
	padding-left: 1px;
	color: $my-blue;
}
