$gray-100: #eee;
$my-light-blue: #6D90F0;
$my-primary-contrast: #d64828;
$my-secondary-contrast: #d69f28;
$my-blue: #2857D6;

body {
	color: $my-blue;
	font-family: 'Ubuntu', cursive;
	background-color: $gray-100;
}

a { color:$my-blue; }

.container {
	background-color: white;
	margin: 0 auto;
	padding: 0 30px;
}

.welcome {
	background: url(/assets/images/replication.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 20px;

	.message {
		margin: 50px;
		padding: 25px;
    background-color: rgba(255,255,255,0.5);
		color: $my-blue;
		font-size: 40px;
		line-height: 120%;

		p {
			margin: 20px 0;
		}
	}
}

.header {
	padding-bottom: 20px;

	.navbar-brand {
		color: $my-blue;
		font-family: 'Lobster', cursive;
		font-size: 80px;
		margin-left: 0;
	}

	a:hover {
		color: $my-blue !important;
		text-decoration: none;
	}

	.nav-item, .nav-link {
		padding-right: 20px;
		a {
			color: $my-light-blue !important;
		}
		a:hover {
			color: $my-blue !important;
		}

	}
}

.footer {
	padding: 20px 0;

	p {
		padding: 0;
		margin: 0;
	}
}

.index {
	padding: 20px 20px;

	h2{
		margin-top: 40px;
		font-size: 35px;
	}

	h3{
		font-size: 25px;
		font-weight: 800;
		margin-top: 35px;
	}

	p{
		line-height: 150%;
		font-size: 30px;
	}

	a {
		color: $my-primary-contrast;
		text-decoration: underline;
	}
	a:hover {
		color: $my-secondary-contrast;
	}

	.blurb {
		font-size: 18px;
		li {
			font-size: 14px;
		}
	}

	.double-column{
		margin-top: 40px;
	}
}


.tutorials {
	color: $my-primary-contrast;
	padding-left: 15px;
	h6 {
		font-size: 20px;
	}
}


.lesson {
	color: black;
	font-size: 1.1em;

	h1, h2, h3, h4, h5 {
		color: $my-blue;
	}

	h2 {
		padding-top: 30px;
	}

	h3 {
		padding-top: 15px;
	}

	table, td, th {
	  border: solid black 2px;
		text-align: center;
	}

	table {
		margin: 0 auto;
	}
	td,th {
		padding: 10px;
	}


	blockquote {
	   color:#666666;
	   margin:0;
	   padding-left: 1em;
	   border-left: 0.5em #EEE solid;
	}

	hr {
	   height: 0px;
	   border-bottom: none;
	   border-top-width: thin;
	   border-top-style: dotted;
	   border-top-color: #999999;
	}

	img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}


	input {
		background-color: $my-blue;
		border: 1px solid $my-blue;
		border-radius: 5px;
		color: white;
		padding: 3px 10px;
		margin-bottom: 20px;
	}
}

.honor-roll {
	.card {
		margin-bottom: 20px;
		padding-bottom: 10px;

		h4 {
			padding-left: 10px;
			padding-top: 10px;
			margin-bottom: 0px;
		}
		ul {
			padding-left: 10px;

			li {
				list-style: none;
			}
		}

	}
}

.fa-youtube {
	padding-left: 1px;
	color: $my-blue;
}

.center {
	display: block;
	margin: 0 auto;
}


tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

pre code {
  display: block;
	padding: 0.5em;
}

code {
  font-size: 92%;
  border: 1px solid #ccc;
  background-color: #F8F8F8;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}




.post-preview { list-style-type: none; padding: 0; }

.post-preview li {
	padding-top: 30px;
	padding-left: 0px;
}

.post-preview .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-preview .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.post { margin-top: 10px; }

.post .meta {
  font-size: 15px;
  color: #818181;
  margin: 5px 0 40px;
}

.post-content h2 { margin-top: 3rem; }
.post-content h3 { margin-top: 2rem; font-size: 25px;}

.post-content p { color: black; font-size: 18px; }
.post-content li { color: black; font-size: 18px; }


.tldr {
	background-color: #ccf;
	border-radius: 20px;
	font-size: 18px;
	margin: 15px;
	padding: 20px;
}


.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  font-style: italic;
  margin: 30px 0;
}


.right_side img {
	width : 350px;
	margin : 15px 15px 15px 15px;
	float : right;
}
