<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

		<div class="container">
			{% include header.html %}
		  {{ content }}
	    {% include footer.html %}
		</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<script>
		$( "input.hideshow" ).each( function ( index, button ) {
		  button.value = 'Show answer';
		  $( button ).click( function () {
		    var target = this.nextSibling ? this : this.parentNode;
		    target = target.nextSibling.nextSibling;
		    if ( target.style.display == 'block' || target.style.display == '' ) {
		      target.style.display = 'none';
		      this.value = 'Show answer';
		    } else {
		      target.style.display = 'block';
		      this.value = 'Hide answer';
		    }
		  } );
		} );
		</script>

<script>
$(function() {
  $("#accordion" ).accordion({
		active: false,
    collapsible: true,
    heightStyle: "content",
		event: "mouseover"

  });
} );
</script>


<script id="dsq-count-scr" src="//riffomonas.disqus.com/count.js" async></script>
	</body>
</html>
