---
layout: default
---

<div class="workshop">

	<h1>{{ page.topic }} Workshop ({{page.dates}})</h1>

	{% assign template = page.topic | append: ".md" %}
	{% include_relative {{template}} %}

	{{ content }}


	<p>The workshop will be offered via Zoom on {{ page.dates}}. Each day of the workshop will run from 9 AM to 4 PM each day with a lunch break from 12 - 1. We'll also have other breaks in the morning and afternoon. These times are based on the time in <a href="https://www.timeanddate.com/worldclock/usa/ann-arbor">Ann Arbor, MI</a>, which is in the Eastern Time Zone of the US. Please feel free to <a href="mailto:pat@riffomonas.org">email me</a> if you have any questions. I'd love to have you participate in the next workshop!</p>


	<div class="payment">

		<div class="row align-items-center">
	    <div class="col">
				<div>
					<h2 class="cost">Cost: ${{page.cost}}</h2>
					<label for="fname">Participant's name:</label><br>
				  <input type="text" id="pname" name="pname" value="Kris Doe"><br>
				  <label for="lname">Participant's email address:</label><br>
				  <input type="text" id="pemail" name="pemail" value="kris_doe@example.com"><br><br>
				</div>
			</div>
			<div class="col">

				<script src="https://www.paypal.com/sdk/js?client-id=AY2TRBKfzE357clCKa7uDg5X5_vHW7wMUJU0ZlysZQu0DZ9cUowZFqcGzBpGcSTdX55wx_MhHkWD8Ov0&disable-funding=credit"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
				</script>


				<div style="margin-top:50px;" id="paypal-button-container"></div>

			</div>
		</div>
	</div>

	<!-- Add the checkout buttons, set up the order and approve the order -->
	<script>
		paypal.Buttons({
			style: {
				shape: 'pill',
				color: 'blue',
				layout: 'vertical',
				label: 'pay',
			},

			createOrder: function(data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount: {
							currency_code: 'USD',
							value: {{page.cost}},
							breakdown: {
								item_total:{
									value: {{page.cost}},
									currency_code: 'USD'
									}
								}
							},
							items:[{
								name: "{{page.dates}} {{page.title}}",
								description:"Payment for " + (document.getElementById('pname')).value + " <" + (document.getElementById('pemail')).value + ">",
						    quantity: 1,
						    unit_amount:{
									value: {{page.cost}},
									currency_code:"USD"
								}
							}]
						}]});
			},
			onApprove: function(data, actions) {
				return actions.order.capture().then(function(details) {
					alert('Transaction completed by ' + details.payer.name.given_name);
				});
			}
		}).render('#paypal-button-container'); // Display payment options on your web page
	</script>

</div>
